extends layout

block content
    h1= title
    p Welcome to #{title}
    ul
        each i in data
            div
                img(src=i.url)
                p= i.tesseract_text

block scripts
    script(src='https://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js')
    script(src='javascripts/images_from_filesystem.js')
    script(src='javascripts/tesseract_run.js')